#time{
    height: 50px;
    width: 100%;
}

.container{
    background-color: #5e057e;
    /* //rgb(40, 2, 69) */
    color: white;
    border-radius: 60px;
}

body{
    background-color: whitesmoke;
}

input{
    background-color: rgb(164, 8, 248);
}

*{
    color: white;
}

 

input{
    border-radius: 45%;
    width: 100px;
    height: 60px;
}