#time{
    height: 50px;
    width: 100%;
}

.container{
    background-color: #00142f;
    /* #630b89 */
    /* #4d0877 */
    /* #440c58 */
    color: white;
    border-radius: 60px;
}

body{
    background-color: whitesmoke;
}

input{
    background-color: #504E63;
}

*{
    color: white;
}

 

input{
    border-radius: 45%;
    width: 100px;
    height: 60px;
}